<!--
<md-toolbar class="app-toolbar mat-toolbar mat-primary" color="primary" role="toolbar">

  <ul role="navigation">
    <li><p class="title" title="EBPP">Electronic bill payment and
      presentment </p></li>
  </ul>
</md-toolbar>
<md-toolbar class="app-toolbar mat-toolbar mat-primary" color="primary" role="toolbar">

  <ul role="navigation">
    <li><a class="nav-link" id="firstone" routerLink="/home" routerLinkActive="active" title="Features">Home</a></li>
    <li><a *ngIf="this.isloginer" class="nav-link" (click)="customer()" routerLinkActive="active">Customer Management</a></li>
    <li><a *ngIf="this.isloginer" class="nav-link" routerLink="/signup" routerLinkActive="active">Bills Management</a></li>
    <li><a *ngIf="!this.isloginer"class="nav-link" routerLink="/signup" routerLinkActive="active">Bills Payment Mangement</a></li>
    <li><a  *ngIf="!this.isloginer"class="nav-link" id="logUser"> {{ this.name }}! {{this.phoneNumber}}</a></li>
    <li><a  *ngIf="this.isloginer"class="nav-link" id="logAdmin"> {{ this.name }}! {{this.phoneNumber}}</a></li>
    &lt;!&ndash;<li><a  class="nav-link" ><img src={{this.url}} width="4%" height="3%"></a></li>&ndash;&gt;
    <li><a class="nav-link" (click)="logout()" routerLinkActive="active">Logout</a></li>
  </ul>
</md-toolbar>
<table class="tblcolor">
  <tr>
    <td>
      Electronic bill payment and
      presentment
      Is a process by which companies bill customers and receive payments electronically
      over the Internet.
    </td>
  </tr>
</table>

-->
<p class="fonts">
      Electronic bill payment and
      presentment
      Is a process by which companies bill customers and receive payments electronically
      over the Internet.
</p>
<h3 style="color: gold">Easy to Use Customer Portal</h3>

<p class="fonts">
  The self-service portal enables your customers to make one-time guest payments, or quickly sign up and make enrolled payments. Customers can also schedule and manage payments, view statements, and enroll in paperless billing.
</p>
<h3 style="color: gold">Fully Customizable</h3>

<p class="fonts">
  The portal can be customized to match your organization’s branding and features can be tailored to your needs.
</p>
<h3 style="color: gold">Convenient and Flexible Choices</h3>

<p class="fonts">
  The customer care portal enables your customer service staff to access profiles,<br> view payment history, schedule and manage payments on behalf of customers, view reports, and perform other day-to-day customer service tasks.

</p>
